* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* <!-- Top header bar start --> */
.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    height: 4em;
    background-color: #FD6E00;
    font-family: 'Montserrat', sans-serif;
}

.social-media-img {
    display: flex;
    margin-left: 1em;
}

.social-media-img img {
    margin-right: 1vw;
    width: auto;
    height: 2.3em;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input {
    width: 25vw;
    height: 3em;
    border-radius: 2em;
    border-style: none;
    padding: 1em;
}

.search-box input::placeholder {
    font-size: 0.9vw;
}

.search-box img {
    position: relative;
    left: -2.0em;
    width: auto;
    height: 1.3em;
    cursor: pointer;
}

.details-section {
    display: flex;
    justify-content: center;
    align-items: center;
}



.details-section * {
    margin-right: 1em;
}

.details-section a {
    text-decoration: none;
    color: white;
    margin-right: 1.5em;
    font-size: 0.8vw;
    cursor: pointer;
}

.details-section select {
    border-style: none;
    background-color: #FD6E00;
    color: white;
    cursor: pointer;
}

.details-section #flag-icon {
    width: auto;
    height: 2.3em;
    margin-right: 0.5em;
}

.details-section select {
    font-size: 0.9em;
}

@media screen and (min-width:1200px) {
    .header-top {
        height: 3.5em;
    }



    .details-section #flag-icon {
        width: auto;
        height: 2.3em;
    }

    .details-section a {
        font-size: 0.9vw;
    }

    .details-section select {
        font-size: 0.8em;
    }

    .search-box input {
        width: 23em;
        height: 2.5em;
    }

    .search-box input {
        font-size: 1vw;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .search-box input {
        height: 3em;
        font-size: 1.1vw;
    }

    .details-section a {
        font-size: 1.1vw;
    }

    .details-section select {
        font-size: 0.8em;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .social-media-img img {
        margin-right: 1vw;
        width: auto;
        height: 1.8em;
    }


    .search-box {
        display: none;
    }

    .header-top {
        display: flex;
        justify-content: space-around;
        height: 3em;
    }

    .details-section {
        display: flex;
        align-items: center;
    }



    .details-section #flag-icon {
        width: auto;
        height: 1.8em;
    }

    .details-section a {
        font-size: 1.3vw;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    .details-section a {
        font-size: 1.4vw;
    }

    .social-media-img img {
        margin-right: 1vw;
        width: auto;
        height: 1.6em;
    }



    .details-section #flag-icon {
        width: auto;
        height: 1.6em;
    }

    .search-box {
        display: none;
    }

    .details-section select {
        font-size: 0.7em;
    }

    #navbarTogglerDemo02 ul li a {
        font-size: 0.8em;
    }

    .header-top {
        height: 3em;
    }
}

@media screen and (min-width:460px) and (max-width:576px) {
    .header-top {
        height: 3em;
    }

    .social-media-img {
        display: none;
    }

    .search-box {
        display: none;
    }

    .details-section a {
        font-size: 1.8vw;
    }



    .details-section #flag-icon {
        width: auto;
        height: 1.5em;
    }

    .details-section select {
        width: 5em;
        font-size: 0.7em;
    }
}

@media screen and (min-width:376px) and (max-width:459px) {
    .details-section a {
        font-size: 2.2vw;
    }

    .social-media-img {
        display: none;
    }

    .search-box {
        display: none;
    }



    .details-section #flag-icon {
        width: auto;
        height: 1.2em;
    }

    .details-section select {
        width: 5em;
    }
}

@media screen and (max-width:375px) {
    .details-section a {
        font-size: 2vw;
    }

    .social-media-img {
        display: none;
    }

    .search-box {
        display: none;
    }



    .details-section #flag-icon {
        width: auto;
        height: 1em;
    }

    .details-section select {
        width: 5em;
        font-size: 2.5vw;
    }
}

/* Top header bar end */





/* Bottom header bar start */
.swag-logo {
    width: auto;
    height: 3.5em;
    margin-left: 200px;
    margin-right: 100px;
}

.navbar {
    width: 600px;
}

.nav-link {
    margin-right: 50px;
    text-align: center;

}

.nav-link:hover {
    color: #FD6E00 !important;

}

.active {
    color: #FD6E00 !important;
    font-weight: bold !important;
}

.btns {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #fd6913;
    padding: 10px 20px 10px 20px;
    width: 150px;
    margin-left: 200px;

}

.btns:hover {
    background: #ffffff;
    text-decoration: none;
    border-color: #fd6913;
    color: #fd6913;
}

@media screen and (max-width:1400px) and (min-width:1200px) {
    .btns {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #fd6913;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        width: 150px;
        margin-left: 50px;

    }

    .btns:hover {
        background: #ffffff;
        text-decoration: none;
        border-color: #fd6913;
        color: #fd6913;
    }

    .nav-link {
        margin-right: 20px;
        text-align: center;

    }
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .btns {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #fd6913;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        width: 150px;
        margin-left: 50px;

    }

    .btns:hover {
        background: #ffffff;
        text-decoration: none;
        border-color: #fd6913;
        color: #fd6913;
    }

    .nav-link {
        margin-right: 45px;
        text-align: center;

    }
}

/* Sticky bar section*/

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.sticky-shadow {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}




/* Bottom header media queries start */
@media screen and (min-width:992px) and (max-width:1200px) {
    .swag-logo {
        width: auto;
        height: 3.5em;
        margin-left: 100px;

    }

    .nav-link {
        width: 30px;
        text-align: center;

    }


    .btn {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #fd6913;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        width: 150px;
        margin-left: 50px;


    }

    .btn:hover {
        background: #ffffff;
        text-decoration: none;
        border-color: #fd6913;
        color: #fd6913;
    }


}


@media screen and (min-width:768px) and (max-width:992px) {
    .swag-logo {
        width: auto;
        height: 3.5em;
        margin-left: 50px;
    }

    #search-box-container {
        width: 15em;
        height: auto;
        border-radius: 1em;

    }

    #search-box-hidden {
        border-radius: 1em;
    }

    #basic-addon1 {
        position: relative;
        right: 2em;
        top: 0.3em;
    }

}

@media screen and (min-width:600px) and (max-width:768px) {
    .swag-logo {
        width: auto;
        height: 3.5em;
        margin-left: 50px;
    }

    #search-box-container {
        width: 15em;
        height: auto;
        border-radius: 1em;

    }

    #search-box-hidden {
        border-radius: 1em;
    }

    #basic-addon1 {
        position: relative;
        right: 2em;
        top: 0.3em;
    }

}

@media screen and (min-width:461px) and (max-width:600px) {
    .swag-logo {
        width: auto;
        height: 3.5em;
        margin-left: 10px;
    }

    #search-box-container {
        width: 12em;
        height: auto;
        border-radius: 1em;


    }

    #search-box-hidden {
        border-radius: 1em;
    }

    #basic-addon1 {
        position: relative;
        right: 2em;
        top: 0.3em;
    }

}

/* Bottom header media queries end */




/* <!-- Login page modal start--> */
.navs-item,
.navs-link {
    position: relative;
    width: 220px;
    font-weight: 900;
    color: grey;
    border: none;

}

.navs-item :hover {
    color: orangered;
    background-color: #ffffff;

}

.email {
    padding-top: 20px;
    color: grey;

}


.box {
    width: 450px;
    padding-top: 0px;
}

.btn-signin {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #fd6913;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    width: 450px;
    font-weight: 700;

}

.forgot-button {
    width: 450px;
    margin-top: 30px;
    color: grey;
    border-color: orangered;
    padding: 10px;
    font-weight: 700;
}


.text-login {
    text-align: center;
    color: black;
    font-weight: 800;
    margin-top: 80px;

}

.password {
    margin-top: 20px;
    color: grey;
}

/* Social media icons under login page */
.media-icons {
    text-align: center;
}


.logo-india {
    margin-left: 150px;
}

.username {
    margin-top: 20px;
    color: grey;
}

/* <!-- Login page modal end--> */





/* go to top button */
.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.go-to-top {
    float: right;
    position: fixed;
    right: 3vw;
    bottom: 1em;
    height: auto;

    z-index: 1000;
    cursor: pointer;
}

.go-to-top img {
    width: 5vw;
}

@media screen and (max-width:768px) {
    .go-to-top img {
        width: 8vw;
    }
}

@media screen and (max-width:576px) {
    .go-to-top img {
        width: 9vw;
    }
}

@media screen and (max-width:460px) {
    .go-to-top img {
        width: 10vw;
    }
}

/* Bottom header bar end */



/* START OF PRODUCT VIEW PAGE */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    height: 50px;

}

.breadcrumb li {
    margin-top: 0px;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb li:first-child {
    margin-left: 3em;

}

.major-container {
    width: 75vw;
    margin: 0 auto;
}

.major-container .right-major-container .stars-group img:hover {
    cursor: pointer;

}

.major-container .right-major-container .stars-group img {
    width: auto;
    height: 1em;
}

.major-container .right-major-container .stars-group span {
    color: lightgray;
    font-size: 0.9em;
}

.stars-group a {
    text-decoration: none;
}

.stars-group a:hover {
    text-decoration: none;
}

.major-container .right-major-container .pricing .offer {
    color: #FD6E00;
}

.major-container .right-major-container .description-text p {
    color: grey;
    font-size: 0.8em;
}

.major-container .right-major-container .select-container {
    width: 30em;
    height: auto;
}

.major-container .right-major-container .select-container .button-group button {
    border-radius: 50%;
    font-size: 1.1em;
    margin-right: 0.3em;
    background-color: white;
    color: Black;
    font-weight: normal;
    border: 1px solid black;
}

.major-container .right-major-container .select-container .button-group button:hover {
    color: #FD6E00;
    font-weight: bold;
    background-color: white;
}

.major-container .right-major-container .buttons-collection {
    width: 30em;
    height: auto;
    margin-top: 2em;
}

.major-container .right-major-container .buttons-collection .cart-button,
.major-container .right-major-container .buttons-collection .buynow-button {
    color: white;
    font-weight: bold;
    background-color: #FD6E00;
    border: none;
    border-radius: 5px;
    width: 14vw;
    height: 3vw;
    margin-right: 20px
}

.major-container .right-major-container .buttons-collection .cart-button:hover,
.major-container .right-major-container .buttons-collection .buynow-button:hover {
    background-color: white;
    color: #FD6E00;
    font-weight: bold;
    border: 1px solid #FD6E00;
    transition: 0.3s;
    cursor: pointer;
}

.major-container .right-major-container .buttons-collection img {
    width: auto;
    height: 4em;
}

.major-container .right-major-container .share-on-social {
    width: 15em;
    height: auto;
}

.right-major-container .share-on-social img {
    width: auto;
    height: 2.5em;
}

.major-container .right-major-container .delivery-support {
    width: 30em;
    height: auto;
}

.major-container .right-major-container .delivery-support span {
    font-size: 0.8em;
}

.major-container .right-major-container .delivery-support img {
    width: auto;
    height: 4.3em;
}

/* Tabs */

#myReviewTabContent h6 {
    color: black;
    font-weight: bold;
}

#myReviewTabContent .tab-pane p {
    color: black;
    font-weight: normal;
}

#myReviewTab,
.desc-tabs-content {
    width: 75vw;
    margin: 0 auto;
    border: none;
    font-size: 0.8em;
}

.desc-tabs .nav-item .nav-link {
    color: black;
    font-weight: 500;
    border: none;
}

#myReviewTab .nav-item .nav-link:hover {
    border-bottom: 4px solid #FD6E00;
}

/* START OF REVIEW */
.review-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width: 75vw;
    margin: 0 auto;
}

.review-container .grid-container-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 25vw;
    height: auto;
}

.review-container .grid-container-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.review-container .grid-container-1 .stars-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-container .grid-container-1 .stars-group img {
    width: auto;
    height: 1.2em;
}

.review-container .grid-container-1 .stars-group span {
    font-size: 0.8em;
}

.review-container .grid-container-1 small {
    color: gray;
}

.review-container .grid-container-1 .write-review p {
    font-size: 0.7em;
    color: gray;
}

.review-container .grid-container-1 .write-review button {
    background-color: #FD6E00;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 16vw;
    height: 2vw;
    font-size: 0.8vw;
}

.review-container .grid-container-1 .write-review button:hover {
    background-color: white;
    color: #FD6E00;
    font-weight: bold;
    border: 1px solid #FD6E00;
    transition: 0.3s;
    cursor: pointer;
}

.review-container .grid-container-2 .review img {
    width: auto;
    height: 3vw;
}

.review-container .grid-container-2 .stars-group img {
    width: auto;
    height: 1em;
}

.review-container .grid-container-2 .stars-group span {
    font-size: 0.8em;
}

.review-container .grid-container-2 .verified {
    font-size: 0.8em;
}

.review-container .grid-container-2 .product-desc {
    font-size: 0.8em;
}

.review-container .grid-container-2 .helpful-content {
    color: grey;
    font-size: 0.9vw;
}

.review-container .grid-container-2 .helpful-content span a {
    color: grey;
}

.review-container .grid-container-2 .helpful-content button {
    background-color: #FD6E00;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 5vw;
    height: 2vw;
    font-size: 0.8vw;
}

.review-container .grid-container-2 .helpful-content button:hover {
    background-color: white;
    color: #FD6E00;
    font-weight: bold;
    border: 1px solid #FD6E00;
    transition: 0.3s;
    cursor: pointer;
}



/* Carousel Slides at bottom */
.carousel-inner img {
    width: 100%;
    height: 70%;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black !important;

}

.carousel-control-prev-icon {
    margin-left: -130px;
}

.carousel-control-next-icon {
    margin-left: 120px;
}


.related-products .container {
    width: 75vw;
    margin: 0 auto 10em auto;
}

.related-products .container .card-body .stars-group img {
    width: auto;
    height: 1.3em;
}

.related-products .container .card-body h5 {
    font-size: 1.3em;
    color: black;
}

.related-products .container .card-body p {
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}

.offer {
    color: #FD6E00;
    font-weight: bolder;
}

.progress-div {
    display: grid;
    grid-template-columns: 0.8fr 4fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: center;
    height: 1.3em;
}

.progress-div span:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 0.8vw;
    color: rgb(61, 61, 255);
}

.progress-div .progress {
    grid-column: 2/3;
    grid-row: 1/2;
}

.progress-div span:last-child {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 0.8vw;
    margin-left: 0.3em;
    color: rgb(60, 60, 255);
}

.see-more {
    margin-top: 2em;
    font-size: 0.8em;
    text-decoration: underline;
}

@media screen and (min-width:1200px) and (max-width:1400px) {

    .major-container .right-major-container .buttons-collection .cart-button,
    .major-container .right-major-container .buttons-collection .buynow-button {
        width: 13vw;
        height: 3vw;
    }


    .review-container .grid-container-1 .write-review button {
        width: 16vw;
        height: 2vw;
        font-size: 1vw;
    }

    .review-container .grid-container-1 h6 {
        margin-bottom: 0;
        font-size: 1.3em;
    }

    .review-container .grid-container-2 .helpful-content button {
        width: 7vw;
        height: 2vw;
        font-size: 1vw;
    }

    .review-container .grid-container-2 .helpful-content span a {
        font-size: 0.9em
    }

    .related-products .container .card-body h5 {
        font-size: 1.4em;
        color: black;
    }

    .related-products .container .card-body p {
        font-size: 0.9em;
        color: black;
        font-weight: normal;
    }

    .related-products .container .card-body .stars-group img {
        width: auto;
        height: 1.2em;
    }


    .progress-div {
        display: grid;
        grid-template-columns: 1.5fr 4.5fr 2fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-self: center;
        height: 1.3em;
    }

    .progress-div span:first-child {
        font-size: 1vw;
    }

    .progress-div span:last-child {
        font-size: 1vw;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {

    .carousel-control-prev-icon {
        margin-left: -50px;
    }

    .carousel-control-next-icon {
        margin-left: 50px;
    }

    .right-major-container .buttons-collection .cart-button,
    .right-major-container .buttons-collection .buynow-button {
        width: 15vw;
        height: 4.5vw;
    }


    .review-container .grid-container-1 .write-review button {
        width: 18vw;
        height: 3vw;
        font-size: 1.1vw;
    }

    .review-container .grid-container-1 h6 {
        font-size: 1.3em;
        margin-bottom: 0;
    }

    .review-container .grid-container-2 .helpful-content button {
        width: 8vw;
        height: 2.5vw;
        font-size: 1.1vw;
    }

    .review-container .grid-container-2 .helpful-content span a {
        font-size: 1.1em
    }

    .review-container .grid-container-1 .stars-group img {
        width: auto;
        height: 1em;
    }

    .review-container .grid-container-1 .stars-holder span {
        font-size: 0.9em;
    }

    .related-prods-container .carousel-item {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }

    .related-prods-container h2 {
        font-size: 3vw;
        text-align: center;
    }

    .related-products .container .card-body h5 {
        font-size: 1.2em;
        color: black;
    }

    .related-products .container .card-body p {
        font-size: 0.8em;
        color: black;
        font-weight: normal;
    }

    .related-products .container .card-body .stars-group img {
        width: auto;
        height: 1em;
    }

    .desc-tabs .nav-item {
        font-size: 1.3vw;
    }

    .desc-tabs-content .tab-pane h6 {
        font-size: 1em;
    }

    .desc-tabs-content .tab-pane p {
        font-size: 0.8em;
    }

    .progress-div {
        display: grid;
        grid-template-columns: 1.5fr 4.5fr 3fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-self: center;
        height: 1.3em;
    }

    .progress-div span:first-child {
        font-size: 1vw;
    }

    .progress-div span:last-child {
        font-size: 1vw;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .carousel-control-prev-icon {
        margin-left: -50px;
    }

    .carousel-control-next-icon {
        margin-left: 50px;
    }

    .desc-tabs .nav-item {
        font-size: 1.8vw;
    }

    .major-container .right-major-container .buttons-collection .cart-button,
    .major-container .right-major-container .buttons-collection .buynow-button {
        width: 15vw;
        height: 3.5vw;
    }

    .review-container .grid-container-1 .stars-holder span {
        font-size: 0.8em;
    }

    .review-container .grid-container-1 h6 {
        margin-bottom: 0;
        font-size: 1.3em;
    }

    .review-container .grid-container-1 .write-review button {
        width: 18vw;
        height: 3vw;
        font-size: 1.3vw;
    }

    .review-container .grid-container-2 .helpful-content button {
        width: 7vw;
        height: 2.5vw;
        font-size: 1.2vw;
    }

    .review-container .grid-container-2 .helpful-content span a {
        font-size: 1.2em
    }

    .related-products .container h2 {
        font-size: 3.5vw;
        text-align: center;
    }


    .related-products .container .card-body h5 {
        font-size: 1em;
        color: black;
    }

    .related-products .container .card-body p {
        font-size: 0.6em;
        color: black;
        font-weight: normal;
    }

    .related-products .container .card-body .stars-group img {
        width: auto;
        height: 1em;
    }

    .progress-div {
        display: grid;
        grid-template-columns: 1.5fr 4.5fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-self: center;
        height: 1.3em;
    }

    .progress-div span:first-child {
        font-size: 1.2vw;
    }

    .progress-div span:last-child {
        font-size: 1.2vw;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {

    .carousel-control-prev-icon {
        margin-left: -50px;
    }

    .carousel-control-next-icon {
        margin-left: 50px;
    }

    .right-major-container {
        font-size: 0.8em;
    }

    .desc-tabs .nav-item {
        font-size: 2vw;
    }


    .major-container .right-major-container .buttons-collection .cart-button,
    .major-container .right-major-container .buttons-collection .buynow-button {
        width: 21vw;
        height: 5vw;
    }

    .major-container .right-major-container .share-on-social {
        width: 30vw;
    }

    .review-container .grid-container-1 .stars-holder span {
        font-size: 0.8em;
    }

    .review-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .review-container .grid-container-1 {
        width: 100vw;
        text-align: center;
    }

    .review-container .grid-container-2 .helpful-content button {
        width: 11vw;
        height: 4.5vw;
        font-size: 2.2vw;
    }

    .review-container .grid-container-2 .helpful-content span a {
        font-size: 2.2em
    }

    .related-products .container .card-body h5 {
        font-size: 4.5vw;
    }

    .related-products .container .card-body p {
        font-size: 2vw;
    }

    .related-products .container h2 {
        font-size: 4vw;
        text-align: center;
    }

    .review-container .grid-container-1 h6 {
        margin-bottom: 0;
        font-size: 1.5em;
    }

    .review-container .grid-container-1 .write-review button {
        width: 21vw;
        height: 4.5vw;
        font-size: 1.6vw;
    }

    .review-container .grid-container-2 .helpful-content button {
        width: 8vw;
        height: 3.5vw;
        font-size: 1.6vw;
    }

    .review-container .grid-container-2 .helpful-content span a {
        font-size: 1.6em
    }

    .progress-div {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-self: center;
        height: 1.3em;
    }

    .progress-div span:first-child {
        font-size: 1.7vw;
    }

    .progress-div span:last-child {
        font-size: 1.7vw;
    }

}

@media screen and (min-width:460px) and (max-width:575px) {

    .carousel-control-prev-icon {
        margin-left: -20px;
    }

    .carousel-control-next-icon {
        margin-left: 10px;
    }

    .major-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .major-container .left-major-container .row {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: auto;
        width: 75vw;
    }

    .major-container .left-major-container .img-col-1 img {
        width: auto;
        height: 8vw;
    }

    .major-container .right-major-container .select-container {
        width: 60vw;
        height: auto;
    }

    .major-container .right-major-container .select-container .button-group button {
        font-size: 0.9em;
        margin-right: 0.3em;
    }

    .major-container .right-major-container .select-container .btn-group button {
        font-size: 0.9em;
    }

    .major-container .right-major-container .stars-group span p {
        font-size: 0.8em;
    }

    .major-container .right-major-container .share-on-social h6 {
        font-size: 0.9em;
    }

    .major-container .right-major-container .share-on-social {
        width: 40vw;
    }

    .major-container .right-major-container .share-on-social img {
        width: auto;
        height: 1.7em;
    }

    .major-container .right-major-container .delivery-support span {
        font-size: 0.65em;
    }

    #myReviewTab,
    .desc-tabs-content {
        width: 75vw !important;
        margin: 0 auto !important;
    }

    .desc-tabs .nav-item {
        font-size: 2.6vw;
        border: none;
    }

    .major-container .right-major-container .buttons-collection .cart-button,
    .major-container .right-major-container .buttons-collection .buynow-button {
        width: 23vw;
        height: 6.5vw;
        font-size: 0.8em;
    }

    .review-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .review-container .grid-container-1 .write-review button {
        width: 34vw;
        height: 6.5vw;
        font-size: 2.3vw;
    }

    .review-container .grid-container-1 h6 {
        margin-bottom: 0;
        font-size: 1.6em;
    }

    .review-container .grid-container-1 {
        width: 100vw;
        text-align: center;
    }

    .review-container .grid-container-2 .helpful-content button {
        width: 13vw;
        height: 5vw;
        font-size: 2.4vw;
    }

    .review-container .grid-container-2 .helpful-content span a {
        font-size: 2.4em
    }

    .related-products .container .card-body h5 {
        font-size: 4.5vw;
    }

    .related-products .container .card-body p {
        font-size: 2.5vw;
    }

    .related-products .container h2 {
        font-size: 4vw;
        text-align: center;
    }

    .progress-div {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-self: center;
        height: 1.3em;
    }

    .progress-div span:first-child {
        font-size: 2.2vw;
    }

    .progress-div span:last-child {
        font-size: 2.2vw;
    }

}

@media screen and (min-width:375px) and (max-width:459px) {
    .major-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .major-container .left-major-container .row {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: auto;
        width: 75vw;
    }

    .major-container .left-major-container .img-col-1 img {
        width: auto;
        height: 8vw;
    }

    .major-container .right-major-container .select-container {
        width: 55vw;
        height: auto;
    }

    .major-container .right-major-container .select-container .button-group button {
        font-size: 0.8em;
        margin-right: 0.3em;
    }

    .major-container .right-major-container .select-container .btn-group button {
        font-size: 0.8em;
    }

    .major-container .right-major-container .stars-group span p {
        font-size: 0.75em;
    }

    .major-container .right-major-container .select-container {
        display: flex;
        flex-direction: column;
    }

    .major-container .right-major-container .share-on-social h6 {
        font-size: 0.9em;
    }

    .major-container .right-major-container .share-on-social {
        width: 38vw;
    }

    .major-container .right-major-container .share-on-social img {
        width: auto;
        height: 1.5em;
    }

    .major-container .right-major-container .delivery-support span {
        font-size: 0.6em;
    }

    #myReviewTabContent .tab-pane p {
        font-size: 0.8em;
    }

    .major-container .desc-tabs .nav-item {
        font-size: 2vw;
    }

    .major-container .right-major-container .buttons-collection .cart-button,
    .major-container .right-major-container .buttons-collection .buynow-button {
        width: 28vw;
        height: 6.5vw;
        font-size: 0.8em;
    }

    .major-container .right-major-container .buttons-collection a img {
        width: auto;
        height: 3.4em;
    }

    .review-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .review-container .grid-container-1 .write-review button {
        width: 34vw;
        height: 6.5vw;
        font-size: 2.3vw;
    }

    .review-container .grid-container-1 h6 {
        margin-bottom: 0;
        font-size: 1.6em;
    }

    .review-container .grid-container-1 {
        width: 100vw;
        text-align: center;
    }

    .review-container .grid-container-2 .helpful-content button {
        width: 13vw;
        height: 5vw;
        font-size: 2.4vw;
    }

    .review-container .grid-container-2 .helpful-content span a {
        font-size: 2.4em
    }

    .related-products .container .card-body h5 {
        font-size: 5.5vw;
    }

    .related-products .container .card-body p {
        font-size: 3vw;
    }

    .related-products .container h2 {
        font-size: 6vw;
        text-align: center;
    }

    .progress-div {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-self: center;
        height: 1.3em;
    }

    .progress-div span:first-child {
        font-size: 2.2vw;
    }

    .progress-div span:last-child {
        font-size: 2.2vw;
    }
}

@media screen and (max-width:374px) {
    .progress-div {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-self: center;
        height: 1.3em;
    }

    .progress-div span:first-child {
        font-size: 2.5vw;
    }

    .progress-div span:last-child {
        font-size: 2.5vw;
    }
}

/*  END OF PRODUCT VIEW PAGE  */

/* <!-- Start of Payment and Help --> */
.payment-help .container-fluid {
    width: 75vw;
}

.payment-help .row .col {
    border: 1px solid lightgray;
    padding: 1em;
}

.payment-help .row .col img {
    width: auto;
    height: 3em;
}

.payment-help .row .col h2 {
    font-size: 1em;
    margin-top: 1em;
    font-weight: 600;
}

.payment-help .row .col p {
    font-size: 0.6em;
    color: gray;
}

@media screen and (min-width:1200px) and (max-width:1400px) {
    .payment-help .row .col h2 {
        font-size: 0.8em;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .payment-help .row .col h2 {
        font-size: 0.6em;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .payment-help .row .col h2 {
        font-size: 1em;
    }
}

@media screen and (min-width:460px) and (max-width:767px) {
    .payment-help .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 75vw;
        margin: 0 auto;
    }

    .payment-help .col {
        grid-column: 1/2;
    }
}

@media screen and (min-width:375px) and (max-width:459px) {
    .payment-help .container-fluid {
        width: 100vw !important;
    }

    .payment-help .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 75vw;
        margin: 0 auto;
    }

    .payment-help .col {
        grid-column: 1/2;
        padding: 0;
    }
}

@media screen and (max-width:374px) {
    .payment-help .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 75vw;
        margin: 0 auto;
    }

    .payment-help .col {
        grid-column: 1/2;
        padding: 0;
    }
}

/* End of Payment and Help */



/* Footer Start */
footer .container-fluid .row .col h3 {
    font-size: 0.9em;
}

footer .container-fluid .row .col a {
    font-size: 0.8em;
    text-decoration: none;
    color: gray;
    line-height: 2.5em;
}

footer .container-fluid .row .col a:hover {
    color: #FD6E00;
    font-weight: 700;
}

footer .container-fluid .row .col .input-group input {
    height: 1.6em;
    background-color: rgb(241, 239, 239);
    border-radius: 0;
}

footer .container-fluid .row .col .input-group input::placeholder {
    font-size: 0.8em;
    text-align: center;
}

footer .container-fluid .row .col .input-group button {
    height: 1.6em;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 0;
}

footer .container-fluid .row .col small {
    font-size: 0.7em;
    color: grey;
}

footer .container-fluid .row .col small a {
    font-size: 0.9em;
    color: blue;
    text-decoration: underline;
}

footer .bottom-footer {
    height: 4em;
}

footer .bottom-footer .row .col .card-holder img {
    width: auto;
    height: 1.5em;
    margin-right: 1em;
}

footer .bottom-footer .row .col .social-holder img {
    width: auto;
    height: 1.5em;
    margin-right: 1em;
}


@media screen and (max-width:1200px) {
    footer .container-fluid .row .col .input-group input::placeholder {
        font-size: 0.8em;
        text-align: left;
    }

    footer .container-fluid .row .col .input-group button {
        height: 2em;
        text-align: center;
        background-color: black;
        color: white;
        border-radius: 0;
        font-size: 0.8em;
    }

    footer .container-fluid .row .col small {
        font-size: 0.7em;
    }

    footer .container-fluid .row .col small a {
        font-size: 1em;
    }

    footer .container-fluid .row .col a {
        font-size: 0.9em;
        text-decoration: none;
        color: gray;
        line-height: 2.5em;
    }

}

@media screen and (min-width:992px) and (max-width:1199px) {
    footer .bottom-footer .row .col h3 {
        font-size: 0.8em;
    }

    footer .container-fluid .row .col a {
        font-size: 0.7em;
        text-decoration: none;
        color: gray;
        line-height: 2.5em;
    }

    footer .bottom-footer .row .col .card-holder img {
        width: auto;
        height: 1.2em;
        margin-right: 0.5em;
    }

    footer .bottom-footer .row .col .social-holder img {
        width: auto;
        height: 1.2em;
        margin-right: 0.5em;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    footer .container-fluid .row .col h3 {
        font-size: 0.8em;
    }

    footer .bottom-footer .row .col h3 {
        font-size: 0.8em;
    }

    footer .container-fluid .row .col a {
        font-size: 0.7em;
        text-decoration: none;
        color: gray;
        line-height: 2.5em;
    }

    footer .bottom-footer .row .col .card-holder img {
        margin-right: 0.3em;
    }

    footer .bottom-footer .row .col .social-holder img {
        margin-right: 0.3em;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    footer .container-fluid .row .col h3 {
        font-size: 0.8em;
    }

    footer .container-fluid .row .col a {
        font-size: 0.7em;
        text-decoration: none;
        color: gray;
        line-height: 2.5em;
    }

    footer .container-fluid .row .col small {
        font-size: 0.6em;
        color: grey;
    }

    footer .bottom-footer .row .col h3 {
        font-size: 0.6em;
    }

    footer .bottom-footer .row .col .card-holder img {
        width: auto;
        height: 1em;
        margin-right: 0.1em;
    }

    footer .bottom-footer .row .col .social-holder img {
        width: auto;
        height: 1em;
        margin-right: 0.1em;
    }
}

@media screen and (min-width:460px) and (max-width:575px) {
    footer .container-fluid .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 75vw;
    }

    footer .container-fluid .row .col:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    footer .container-fluid .row .col:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    footer .container-fluid .row .col:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 1em;
    }

    footer .container-fluid .row .col:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 1em;
    }

    footer .container-fluid .row .col:nth-child(5) {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 2em;
    }

    footer .container-fluid .row .col h3 {
        font-size: 0.7em;
    }

    footer .container-fluid .row .col a {
        font-size: 0.7em;
    }

    footer .container-fluid .row .col small a {
        font-size: 1em;
    }

    footer .bottom-footer .row .col:first-child {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    footer .bottom-footer .row .col:nth-child(2) {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    footer .bottom-footer .row .col .card-holder img {
        width: auto;
        height: 0.8em;
        margin-right: 0.1em;
    }

    footer .bottom-footer .row .col .social-holder img {
        width: auto;
        height: 0.8em;
        margin-right: 0.1em;
    }
}

@media screen and (min-width:376px) and (max-width:459px) {
    footer .container-fluid .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 75vw;
    }

    footer .container-fluid .row .col:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    footer .container-fluid .row .col:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    footer .container-fluid .row .col:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 1em;
    }

    footer .container-fluid .row .col:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 1em;
    }

    footer .container-fluid .row .col:nth-child(5) {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 2em;
    }

    footer .container-fluid .row .col h3 {
        font-size: 0.8em;
    }

    footer .container-fluid .row .col a {
        font-size: 0.7em;
        line-height: 2.5em;
    }

    footer .container-fluid .row .col small a {
        font-size: 1em;
    }

    footer .bottom-footer .row .col:first-child {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    footer .bottom-footer .row .col:nth-child(2) {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    footer .bottom-footer .row .col .card-holder img {
        width: auto;
        height: 0.8em;
        margin-right: 0.1em;
    }

    footer .bottom-footer .row .col .social-holder img {
        width: auto;
        height: 0.8em;
        margin-right: 0.1em;
    }

}

@media screen and (max-width:375px) {
    footer .container-fluid .row .col h3 {
        font-size: 0.7em;
    }

    footer .container-fluid .row .col a {
        font-size: 0.7em;
    }

    footer .container-fluid .row .col:nth-child(3) {
        margin-top: 0.5em;
    }

    footer .container-fluid .row .col:nth-child(4) {
        margin-top: 0.5em;
    }

    footer .container-fluid .row .col:nth-child(5) {
        margin-top: 2em;
    }

    footer .container-fluid .row .col small {
        font-size: 0.6em;
    }

    footer .bottom-footer .row .col .card-holder img {
        width: auto;
        height: 0.6em;
        margin-right: 0.1em;
    }

    footer .bottom-footer .row .col .social-holder img {
        width: auto;
        height: 0.6em;
        margin-right: 0.1em;
    }
}

/* Footer End */